@keyframes progress_bar_loader {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
        display: none;
    }
}

@keyframes landingpage{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0px);
        }
    }

@keyframes disparition {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-9999px);
    }
    
}