.discover {
    @include flex_column_all_center;
    padding-top: 5%;
   
    background-color: $grey_background;
    
    &_under_title {
        width: 70%;
        text-align: center;
    }
    &_advertising_paragraph {
        text-align: center;
        width: 100%;
        padding-left:5%;
        padding-right:5%;
        @media (min-width:768px) {
            font-size: 20px
        }
    }

    &_button {
        width: 60%;
        height : 50px;
        margin-top: 7%;
        margin-bottom: 12%;
        font-size: 16px;
        @media (min-width: 768px) {
            width: 25%;
            font-size: 15px;
            margin-top: 3%;
            margin-bottom: 3%;
        }
    }
    
}