.footer {
    background-color: $grey_footer;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0% 0% 5% 5%;

    @media (min-width:768px) {
        margin-bottom: 5%;
        
        height: 100%;
        width: 100%;
    }

    @media (min-width:1024px) {
        width: 100%;
        display : flex;
        flex-direction: row-reverse;
        align-items : flex-end;
        justify-content : flex-start;
        margin : 0% 6% 3% 0%;
        height : 115px;
        
    }

    &.footer p {
        font-weight: 500;
        line-height: 19px;
        
    }

    &_links {
        
    @media (min-width:1024px) {
        display: flex;
        flex-direction : row-reverse;
        
    }
}
    

   &_title_logo {
    font-family: 'Shrikhand';
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom:5%;

    @media (min-width:1024px) {
        margin : 1%;
    }
   }


   &_link_to_mail {
    color: white;
    text-decoration: none;
   }

   &_under_div {
    display: flex;
    gap: 5%;
    margin-bottom: 5%;

    @media (min-width: 768px) {
        margin-bottom: 2%
    }

    @media (min-width: 1024px) {
        display : flex;
        flex-direction : row;
        margin-bottom : 0%;
    }
   }

   &_paragraph {
    margin-bottom : 5%;
   }

   &_under_div > img {
    width: 4%;
    }
}