.footer {
    background-color: $grey_footer;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0% 0% 5% 5%;

    @media (min-width:768px) {
        margin-bottom: 5%;
        height: 100%;

    }

    @media (min-width:1024px) {
        display : flex;
        flex-direction: row-reverse;
        justify-content : space-around;
        align-items: center;
        height : 115px;
        padding: 0%;
        padding-right: 5%;
        margin-bottom:0%;
    }

    @media (min-width:1440px) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 10rem;
        padding-bottom: 2rem;
    }

    &.footer p {
        font-weight: 500;
        line-height: 19px;
        
        @media (min-width : 1024px) {
            margin-bottom: 0%;
        }
    }

    &_links {
        
    @media (min-width:1024px) {
        display: flex;
        flex-direction : row;
        justify-content: center;
        align-items : center;
        gap: 5%;
        white-space: nowrap;
        
    }
}
    

   &_title_logo {
    font-family: 'Shrikhand';
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom:5%;

    @media (min-width:1024px) {
        margin : 0%;
    }
   }


   &_link_to_mail {
    color: white;
    text-decoration: none;
   }

   &_under_div {
    display: flex;
    gap: 5%;
    margin-bottom: 5%;

    @media (min-width: 768px) {
        margin-bottom: 2%
    }

    @media (min-width: 1024px) {
        display : flex;
        flex-direction : row;
        margin-bottom : 0%;
    }
   }

   &_paragraph {
    margin-bottom : 5%;
   }

   &_under_div > img {
    width: 4%;

    @media (min-width: 1024px) {
        width: 1rem;
    }
    }
}