.cards {
    /*width: 100%;*/
    background-color: white;
    height: 650px;
    border-radius: 15px;
    margin-bottom: 35px;
    position: relative;
    cursor: pointer;

    &.cards > img {
        width: 100%;
        height: 65%;
        object-fit: cover;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        z-index: 1;
    }
    &_description {
        @include flex_row_space_between;
        padding: 2% 5% 2% 5%;

    }
    &_nouveau {
        background-color: $green_background;
        color: $green_font;
        position: absolute;
        top: 55px;
        right: 55px;
        border-radius: 15px;
        height:50px;
        font-weight: 500;
        padding: 2% 2% 2% 2%;
        
    }
}