
.checkbox{
    opacity: 0;
    height: 21px;
    width: 21px;
    z-index: 1;
    position: absolute;
    right: 9%;
}
.checkbox:checked + .heart_check_box_full{
    opacity: 1;
    transition: opacity 550ms;
}
/*.checkbox:not(:checked) + .heart_check_box_full {
    opacity: 0;
    transition: opacity 550ms;
}*/

.heart_check_box{
    position: absolute;
    right: 9%;
    height: 21px;
    width: 21px;
    opacity: 1;
    z-index: 0;
}
.heart_check_box_full {
    position: absolute;
    right: 9%;
    height: 21px;
    width: 21px;
    opacity: 0;
    z-index: 0;
}

/*.heart_check_box_full:active {
    animation: opacity 1s linear;
}*/